body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}


.card {

}

h2 {

}

.title {

}

img {

}

.para {

}

.one {

}

.two{

}

.three {

}

.back {

}

a {
    
}