body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

h1 {
   font-size: 50px;
   font-weight: bold;
   text-align: center;
   outline: 2px solid #4e635e;
   background-color: #818c78;
   color: #e2e0c8;
   height: 120px;
   width: 0 auto;
   margin: 50px;
   margin-right: 290px;
   padding-top: 55px;
}

h2 {
    font-size: 30px;
}

.title {
    outline: 2px solid #4e635e;
    color: #e2e0c8;
    background-color: #818c78;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

img {
    width: 350px;
    height: 350px;
    margin-left: 950px;
}

.para {
    outline: 2px solid #a6b49e;
    color: #e2e2e2;
    background-color: #4e635e;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}


.one {
    margin-top: 50px;
    margin-left: -250px;
}

.two {
    margin-right: -950px;
    margin-top: -330px;
}

.three {
    margin-right: -2190px;
    margin-top: -330px;
}

.back{
    background-color: #818c78;
    margin-top: 120px;
    margin-left: 950px;
    padding: 9px; 
}

a{
    color: #e2e0c8
}