body {
    background-color: #f5f5f5;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.title {
     outline: 2px solid #4e635e;
    font-size: 25px;
    font-weight: bold;
    color: #e2e0c8;
    background-color: #818c78;
    text-align: center;
    padding: 15px;
    height: 120px;
    width: 1500px;
    margin: 50px 200px;
}

.link {
    background-color: #4e635e;
    text-align: center;
    font-size: 30px;
    outline: 2px solid #a6b49e;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

a {
    color: #e2e2e2;
    font-weight: bold;
}



#egg {
    margin-left: 160px;
}

#cheese {
    margin-top: -90px;
}

#banana {
    margin-left: 1350px;
    margin-top: -95px;
}



img {
    width: 320px;
    height: 320px;
}

.eggp {
    outline: 2px solid #a6b49e;
    margin-left: 210px;
    margin-top: 45px;
}

.cakep {
    outline: 2px solid #a6b49e;
    margin-left: 290px;
    margin-top: -950px;
}

.breadp {
    outline: 2px solid #a6b49e;
    margin-left: 1409px;
    margin-top: -400px;
}