
body {
    background-color: #3e3f4c;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.title {
    font-size: 20px;
    color: #be98aa;
    background-color: #3e3f4c;
    text-align: center;
    margin: 50px 600px;
    padding: 30px;
    width: 900px;
    height: 0 auto;
    outline: 2px solid #f5f5f5
}

.link {
    background-color: #be98aa;
    text-align: center;
    font-size: 15px;
    padding: 40px;
    width: 80px;
    outline: 2px solid #f5f5f5;
}


a {
    color: #3e3f4c;
    font-weight: bold;
}

#egg {
    margin: 40px 660px;
}

#cheese {
    margin: 40px 840px;
    padding : 48px;
    width: 70px;
}

#banana {
    margin: 40px 1050px;
}